# Python
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
.env
.venv/
venv/

# Flutter / Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart
pubspec.lock

# Android
*.keystore
*.jks
*.apk
*.aab
android/local.properties
android/.gradle/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
